.myfavorites {
    display: flex;
    flex-wrap: wrap;
   
}

.header{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .myfavorites {
       
        justify-content: center;
    }
    
}